%html{lang: "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{:href => "../../assets/ico/favicon.ico", rel: "shortcut icon"}/
    %title Theme Template for Bootstrap
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", :rel => :stylesheet}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css", :rel => :stylesheet}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/theme.css", rel: "stylesheet"}/
    %link{:href=>"/css/custom.css", :rel=>"stylesheet"}
= haml :_header
%body.bg-dark{:class =>' text-white',role: "document"}


