%html{lang: "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{:href => "../../assets/ico/favicon.ico", rel: "shortcut icon"}/
    %title Theme Template for Bootstrap
    / Bootstrap core CSS
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", :rel => :stylesheet}/
    / Bootstrap theme
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css", :rel => :stylesheet}/
    / Custom styles for this template
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/theme.css", rel: "stylesheet"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
%body{:class =>'p-3 mb-2 bg-gradient-dark text-white',role: "document"}
  %style
    :sass
      div
        color: red
  %div
  %h1.text-light My Eve App
  %div
    %span.text-light= @character.name
  %div
    %img.border{:class => 'border border-primary rounded', :src => @character.portrait}
    %div.container
      %span{'font-size' => '50px'} Skills
      %p.text-light= @character.skills
    %p= @log
